$primary_color: #EF4011;
$white: #ffffff;

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html, body {
    display: block;
    width:100%;
    max-width: 100%;
    overflow-x: hidden;
}

header {
    font-size: 3rem;
    display: block;
    width:100%;
    text-align: center;
    color: $white;
    background-color: $primary_color;
    padding: 1rem 0rem;
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size:2.85rem;
    }
}
main {
    display:block;
    padding-top:1rem;
    margin:0 15%;
    width:70%;
}
button {
    font-size:0.9rem;
    padding:0.5rem 1rem;
    background-color: $primary_color;
    color: white;
    border:0;
    margin:0.5rem 0rem;
}
button:hover {
    cursor: pointer;
    //background-color: rgb(241, 101, 62);
    background-color: lighten($primary_color, 10%)
}

input, select {
    height: 1.5rem;
    border:0.8px solid $primary_color;
}
input[type=number]{
    width: 32%;
    padding:0.2rem;
    &#dist{
        margin-right: 1rem;
        width:75%;
    }
}

fieldset {
    margin-bottom:0.75rem;
    padding:0.25rem 2% 0.5rem 2%;
    border-color: $primary_color;
    border-style:solid;
    text-align: center;
}

select, select > option {
    font-size: 1rem;
    width: 20%;
    min-width:40%;
    min-width: fit-content;
}

fieldset legend {
    font-size: 1.1rem;
    color: $primary_color;
    font-weight: bold;
    padding: 0rem 0.5rem;
    text-align: left;
}

.row-container {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.colon {
    padding: 0 0.15rem;
    font-size:1rem;
    font-weight: bold;
}
.info {
    font-size:0.85rem;
    font-style: italic;
    padding:0.15rem 0%;
    text-align: left;
}

@media all and (min-width: 600px){
    main {
        margin: 0 auto;
        width: 60%;
        max-width: 700px;
    }
}